body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
h1{
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;

}

main {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
}

img{
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    opacity: 0;
    animation: fadein 1s ease-in forwards;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
    margin-top: 30px;
    font-size: 0.9em;
}