*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    line-height: 1.6;
}
header, footer {
    background-color: darkblue;
    color: white;
}
header{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.logo {
    font-size: 1.6rem;
    font-weight: 700;
}
.navigations {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    transition: tranform 0.45s ease;
}
.navigations li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.navigations li a:hover {
    color: skyblue;
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
    border-radius: 2px;
    transition: all 0.3s ease;
}
.hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}
.hamburger.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(6px, 6px);
}
main {
    text-align: center;
    padding: 1.5rem;
}
h2 {
    margin: 1rem 0;
    font-size: 1.5rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    justify-items: center;
    margin-top: 1rem;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

figcaption {
    margin-top: 0.6rem;
    font-size: 0.95rem;
}
footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    margin-top: 2rem;
}

@media (max-width: 800px) {
    .hamburger{
        display: flex;
    }

    .navigations {
        position: absolute;
        top: 70px;
        right: 0;
        flex-direction: column;
        background-color: darkblue;
        width: 220px;
        text-align: center;
        transform: translateX(100%);
        padding: 1rem 0;
        opacity: 0;
    }
    .navigations.active {
        transform: translateX(0);
        opacity: 1;
    }

    /* Slide-in animations */
    .navigations li {
    opacity: 0;
    transform: translateX(-50px);
    animation: slideIn 0.4s ease forwards;
}


    .navigations.active li:nth-child(1) { animation-delay: 0.1s; }
    .navigations.active li:nth-child(2) { animation-delay: 0.2s; }
    .navigations.active li:nth-child(3) { animation-delay: 0.3s; }
    .navigations.active li:nth-child(4) { animation-delay: 0.4s; }
    .navigations.active li:nth-child(5) { animation-delay: 0.5s; }

    @keyframes slideIn {
        from { opacity: 0; transform: translateX(30px);}
        to { opacity: 1; transform: translateX(0);}
    }
}